.container {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.logo {
    display: inline-block;
    text-indent: -9999px;
    background: url("../Img/common_sprite_area.png");
    background-repeat: no-repeat;
    background-position: -145px -319px;
    height: 43px;
    width: 120px;
}

.content h3 {
    color: #636363;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.content p {
    color: #636363;
    font-size: 13px;
    margin-bottom: 5px;
}