@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.menu-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu-li:hover .dropdown-content {
  display: block;
}

.menu-li {
  position: relative;
}

.menu-ul .menu-li>a {
  display: block;
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  color: black;
  font-family: Verdana,
    Arial,
    sans-serif;
  font-weight: bold;
  line-height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background: url('./Img/bg_menu_hover.png');
  padding: 20px 10px;
  z-index: 1;
}

.dropdown-content>li>a {
  color: whitesmoke;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  line-height: 30px;
  text-transform: capitalize;
  display: block;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

.movies,
.event {
  padding-top: 44px;
}

.movies .movies-title,
.event .event-title {
  background-image: url('../src/Img/bg_h3_line.jpg');
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
}

.movies .movies-title h2,
.event .event-title h2 {
  background-color: #FDFCF0;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 0px;
  text-indent: -99999px;
  display: inline-block;
}

.movies .movies-title h2 {
  background-image: url("../src/Img/h3_movie_selection.gif");
  width: 430px;
}

.event .event-title h2 {
  background-image: url("../src/Img/h3_event.gif");
  width: 200px;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.movies .slick-arrow.slick-next,
.event .slick-arrow.slick-next {
  background: url('./Img/arow-movie-selection.png') no-repeat 0px 0px / cover transparent;
  width: 34px;
  height: 64px;
  right: -35px;
}

.movies .slick-slider,
.event .slick-slider {
  margin: 20px auto 20px;
}

.movies .slick-arrow.slick-next::before,
.movies .slick-arrow.slick-prev::before {
  display: none;
}

.event .slick-arrow.slick-next::before,
.event .slick-arrow.slick-prev::before {
  display: none;
}

.movies .slick-arrow.slick-prev,
.event .slick-arrow.slick-prev {
  background: url('./Img/arow-movie-selection.png') no-repeat -34px 0px / cover transparent;
  width: 34px;
  height: 64px;
  left: -36px;
}



.movies .slick-slide,
.event .slick-slide {
  padding: 0 10px;
}

.movies .slick-slide img {
  width: 100%;
  height: 300px;
}

.event .slick-slide img {
  width: 100%;
}

.event .toggle-tabs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.event .toggle-tabs .left {
  background: #e71a0f url("./Img/ribon_left_menu.gif") left 0/contain no-repeat scroll;
  padding-left: 35px;
}

.event .toggle-tabs .right {
  background: #e71a0f url("./Img/ribon_right.gif") no-repeat right 0/contain;
  padding-right: 19px;
}

.event .toggle-tabs span {
  padding: 0 10px;
  line-height: 40px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.event .toggle-tabs .left span {
  background: transparent url("./Img/bg_tebmenu-line.gif") no-repeat right;
}

.event .toggle-tabs .left::before {
  content: "";
  background: #e71a0f url('./Img/ico_finger.png') no-repeat left center/contain;
  padding-left: 26px;
}

.event {
  border-bottom: 3px black solid;
}

#header {
  background: url("./Img/bg-top.png") repeat-x left center;
}

.logo {
  background: url("./Img/cgvlogo.png") no-repeat;
  width: 136px;
  height: 59px;
  text-indent: -99999px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px;
}

.home-promotion-card {
  margin-top: 20px;
}

.promos {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 30px 0;
}

.format-border {
  border: 1px solid #241d1e;
}

.col-hd {
  height: 261px;
  padding: 3px;
  border: 2px solid #241d1e;
}

.col-ad {
  border: 2px solid #241d1e;
  padding: 3px;
}

.home-promotion-card img {
  width: 100%;
}

.main-container {
  padding-bottom: 30px;
  border-bottom: 3px solid #241d1e;
}

.footer-container {
  margin-top: 30px;
} 