@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.menu-ul {
  list-style-type: none;
  background-color: #fdf7dc;
  display: flex;
  justify-content: center;
}

.menu-li:hover .dropdown-content {
  display: block;
}

.menu-li {
  position: relative;
}

.menu-ul .menu-li>a {
  display: block;
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  color: black;
  font-family: Verdana,
    Arial,
    sans-serif;
  font-weight: bold;
  line-height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background: url('./Img/bg_menu_hover.png');
  padding: 20px 10px;
  z-index: 1;
}

.dropdown-content>li>a {
  color: whitesmoke;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  line-height: 30px;
  text-transform: capitalize;
  display: block;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

.movies {
  padding-top: 44px;
}

.movies .movies-title {
  background-image: url('../src/Img/bg_h3_line.jpg');
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
}

.movies .movies-title h2 {
  background-image: url("../src/Img/h3_movie_selection.gif");
  background-color: #FDFCF0;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 0px;
  text-indent: -99999px;
  display: inline-block;
  width: 430px;
}

.movies .movies-title h1 {
  background-image: url("../src/Img/h3_event.gif");
  background-color: #FDFCF0;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 0px;
  text-indent: -99999px;
  display: inline-block;
  width: 200px;
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

.movies .slick-arrow.slick-next {
  background: url('./Img/arow-movie-selection.png') no-repeat 0px 0px / cover transparent;
  width: 34px;
  height: 64px;
  right: -35px;
}

.movies .slick-slider {
  margin: 20px auto 20px;
}

.movies .slick-arrow.slick-next::before,
.movies .slick-arrow.slick-prev::before {
  display: none;
}

.movies .slick-arrow.slick-prev {
  background: url('./Img/arow-movie-selection.png') no-repeat -34px 0px / cover transparent;
  width: 34px;
  height: 64px;
  left: -36px;
}

.movies .slick-slide img {
  width: 100%;
}

.movies .slick-slide {
  padding: 0 10px;
}